<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>


<br><br>
<form  method="post" th:action="@{/property/save}"
                    th:object="${property}"
                    enctype="multipart/form-data">
    <h1>Add New Property</h1>
    <label>Property Title</label>
    <input type="text" th:field="*{title}">
    <span th:errors="*{title}" style="color: red"></span>

    <br><br>
    <label>Property Type</label>
    <select th:field="*{propertyType}">
        <option value="">Select Property Type</option>
        <option value="Apartment">Apartment</option>
        <option value="House">House</option>
        <option value="Villa">Villa</option>
        <option value="Office">Office</option>
        <option value="Shop">Shop</option>
        <option value="Land">Land</option>

    </select>
    <span th:errors="*{propertyType}" style="color: red"></span>

    <br><Br>
    <label>Price</label>
    <input type="number" th:field="*{price}">
    <span th:errors="*{price}" style="color: red"></span>

    <br><br>
    <label>Location</label>
    <input type="text" th:field="*{location}">
    <span th:errors="*{location}" style="color: red"></span>

    <br><br>
    <label>Bedrooms</label>
    <input type="number" th:field="*{bedrooms}">
    <span th:errors="*{bedrooms}" style="color: red"></span>

    <br><br>
    <label>Bathrooms</label>
    <input type="number" th:field="*{bathrooms}">
    <span th:errors="*{bathrooms}" style="color: red"></span>

    <br><br>
    <label>Area (sq ft):</label>
    <input type="number" th:field="*{area}">
    <span th:errors="*{area}" style="color: red"></span>

    <br><br>

    <label>Description:</label>
    <br>
    <textarea th:field="*{description}" rows="5" cols="30"></textarea>
    <span th:errors="*{description}" style="color: red"></span>
    <br><br>

    <label>Listing Type:</label>
    <select th:field="*{listingType}">
        <option value="">Select Listing Type</option>
        <option value="forSell">For Sale</option>
        <option value="forRent">For Rent</option>
    </select>
    <span th:errors="*{listingType}" style="color: red"></span>

    <br><br>
    <label>Status:</label>

    <select th:field="*{status}">
        <option value="">Select Status</option>
        <option value="Available">Available</option>
        <option value="Sold">Sold</option>
        <option value="Rented">Rented</option>
    </select>

    <span th:errors="*{status}" style="color: red"></span>

    <br><br>



    <label>Expected Date:</label>
    <input type="text"
           th:field="*{expectedDate}"
           placeholder="Select Date"
           class="date-picker">

    <span th:errors="*{expectedDate}" style="color: red"></span>

    <br><br>


    <label>Property Image:</label>

    <input type="file"
           name="image"
           id="imageInput"
           accept="image/*">

    <br><br>

    <img id="imagePreview"
         src="#"
         alt="Image Preview"
         width="200"
         style="display: none;">


    <br><br>
    <button type="submit">Add Property</button>

    <br><br>

    <a th:href="@{/property/list}">
        Show List
    </a>






</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    flatpickr(".date-picker", {
        dateFormat: "Y-m-d"
    });
</script>
</body>
</html>