
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Property</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<h1>Edit Property</h1>

<form method="post"
      th:action="@{/property/update}"
      th:object="${property}"
      enctype="multipart/form-data">

    <!-- Hidden ID -->
    <input type="hidden" th:field="*{id}">


    <label>Property Title</label>
    <input type="text" th:field="*{title}">
    <span th:errors="*{title}" style="color: red"></span>

    <br><br>


    <label>Property Type</label>
    <select th:field="*{propertyType}">
        <option value="">Select Property Type</option>
        <option value="Apartment">Apartment</option>
        <option value="House">House</option>
        <option value="Villa">Villa</option>
        <option value="Office">Office</option>
        <option value="Shop">Shop</option>
        <option value="Land">Land</option>
    </select>

    <span th:errors="*{propertyType}" style="color: red"></span>

    <br><br>


    <label>Price</label>
    <input type="number" th:field="*{price}">
    <span th:errors="*{price}" style="color: red"></span>

    <br><br>


    <label>Location</label>
    <input type="text" th:field="*{location}">
    <span th:errors="*{location}" style="color: red"></span>

    <br><br>


    <label>Bedrooms</label>
    <input type="number" th:field="*{bedrooms}">
    <span th:errors="*{bedrooms}" style="color: red"></span>

    <br><br>


    <label>Bathrooms</label>
    <input type="number" th:field="*{bathrooms}">
    <span th:errors="*{bathrooms}" style="color: red"></span>

    <br><br>


    <label>Area (sq ft)</label>
    <input type="number" th:field="*{area}">
    <span th:errors="*{area}" style="color: red"></span>

    <br><br>


    <label>Description</label>
    <br>

    <textarea th:field="*{description}"
              rows="5"
              cols="30">
    </textarea>

    <span th:errors="*{description}" style="color: red"></span>

    <br><br>


    <label>Listing Type</label>

    <select th:field="*{listingType}">
        <option value="">Select Listing Type</option>
        <option value="forSell">For Sale</option>
        <option value="forRent">For Rent</option>
    </select>

    <span th:errors="*{listingType}" style="color: red"></span>

    <br><br>


    <label>Status</label>

    <select th:field="*{status}">
        <option value="">Select Status</option>
        <option value="Available">Available</option>
        <option value="Sold">Sold</option>
        <option value="Rented">Rented</option>
    </select>

    <span th:errors="*{status}" style="color: red"></span>

    <br><br>


    <label>Expected Date</label>
    <input type="date" th:field="*{expectedDate}">

    <span th:errors="*{expectedDate}"
          style="color: red">
    </span>

    <br><br>


    <label>Sold/Rented Date</label>
    <input type="date" th:field="*{soldOrRentedDate}">

    <br><br>


    <label>Expected Date:</label>
    <input type="date" th:field="*{expectedDate}">

    <br><br>


    <!-- Image Section -->
    <label>Property Image:</label>

    <div th:if="${property.imagePath != null}">
        <img th:src="@{'/uploads/' + ${property.imagePath}}"
             alt="Current Property Image"
             width="200">
    </div>

    <br>

    <label>Choose New Image:</label>
    <input type="file" name="image">

    <br><br>





    <button type="submit">
        Update Property
    </button>

    <br><br>

    <a th:href="@{/property/list}">
        Cancel
    </a>

</form>

</body>
</html>
```
